# ignore following folders

obj/
map/
source/
log/

# ignore everything
*.*

# include the following files
!.gitignore
!*.build
!*.cwproj
!*.dct
!*.sln
!*.apv
!*.aff
!*.bat
!*.dbk
!*.ico
!*.manifest
!*.pr
!*.ver
!*.sql
!*.mht
!*.pptx
!Accessory/Template/Win/*.tpl
!Accessory/Libscr/Win/*.inc
!Accessory/Libscr/Win/*.clw

!CA_Roots.pem